<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        
        #sms {
            padding-right: 4px;
        }

        #sms::-webkit-scrollbar-track
        {
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        #sms::-webkit-scrollbar
        {
            width: 5px;
            background-color: #F5F5F5;
        }
       
        

        #sms::-webkit-scrollbar-thumb
        {
            border-radius: 10px;
            background-color: silver;
        }

        #me, #bot {
            word-break: break-word;
            border-radius: 23px;
        }

        #me {
            
            
            background-color: #a8dadc;
            justify-content: flex-end;
        }
        #bot {
            background-color: #457b9d;
            
        }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>chat</title>
</head>
<body style="background-color: #fff1e6; ">
    <main> 

            <form style="position: absolute; right: 10%;" action="/logout" method="GET">
                <button  class="btn btn-outline-primary" type="submit" >🚪</button>
            </form>
            <div class="col-md-4  border" style="margin: 3% 25%; line-height: 3; border-radius: 15px; background-color: #f1faee;" >
                <div class="nav justify-content-center d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm" style="margin-top: 10px; border-radius: 13px;background-color: #edf6f9;">
                        
                        <form style="position: absolute; left: 10%;" >
                            <small><span style="color: royalblue;">{{user_len}} in chat</span></small>
                        </form>

                        <h3 id="status" name = 'status' class="p-2 text-dark" >🏠</h3> 
                        
                        <form style="position: absolute; right: 10%;" >
                        <button  class="btn btn-outline-primary" type="button" id = 'inputButton'>🔍</button>
                        <input type="text" id = 'smsSearch' style='height: 30px; width: 150px;display: none;'>
                        </form>
                        
                
                </div>
                <div id = 'sms' style="overflow: auto ;max-height: 530px;min-height: 530px; ">

                    {% block body %} {% endblock %}

                </div>

                <div style="padding-bottom: 10px; padding-top: 10px;">
                <form action="/" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="your message..." aria-label="Recipient's username" aria-describedby="button-addon2" name = 'content' id = 'smsinput'>
                        <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">send</button>
                        </div>
                    </div>
                </form>
                <small id = 'spanInput' style="display: none;justify-content: flex-end;"><small><span><p id = 'pInput'>hi</p></span></small></small>
                </div>


        </div>

        <div class="col-md-2  border" style="line-height: 2; border-radius: 15px; background-color: #f1faee; position: absolute; right: 20%; top: 10%;" >
            <div class="nav justify-content-center d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm" style="margin-top: 10px; border-radius: 13px;background-color: #edf6f9;">
                    

                    <h5 id="status" name = 'status' class="p-2 text-dark" >{{username}}</h5>
                    <form style="position: absolute; right: 10%;" action="/login" method="POST">
                        <button  class="btn btn-outline-primary" type="submit" >🕵🏿‍♀️</button>
                    </form>
                
            
            </div>
            <div id = 'sms' style="overflow: auto;max-height: 365px;min-height: 365px;">

                {% block usernames %} {% endblock %}

            </div>

            <div style="padding-bottom: 10px; padding-top: 10px;">
                
            </div>


    </div>
    
    </main>
    <script>
        


        let userStatus = 'me'        

        // window.onload = () => {
        //     userStatus = prompt('your name')
        //     document.getElementById('status').innerHTML = `${userStatus}`
        // }

        window.addEventListener('load', function(){ 
            var objDiv = document.getElementById("sms");
            objDiv.scrollTop = objDiv.scrollHeight;
            // userStatus = prompt('your name')
            // document.getElementById('status').innerHTML = `your status ${userStatus}`
            
            document.getElementById('smsinput').oninput = () => {
                if ((2000 - document.getElementById('smsinput').value.length) <= 15){

                    if ((2000 - document.getElementById('smsinput').value.length) < 0){
                        document.getElementById('pInput').innerHTML = `${2000 - document.getElementById('smsinput').value.length}`
                        document.getElementById('pInput').style.color = 'red'
                    } else {
                        document.getElementById('pInput').innerHTML = `${2000 - document.getElementById('smsinput').value.length}`
                        document.getElementById('pInput').style.color = 'black'
                    }


                    document.getElementById('spanInput').style.display = 'flex'
                    
                    
                } else {
                    document.getElementById('spanInput').style.display = 'none'
                }
            }

            document.getElementById('smsinput').focus()
            
            document.getElementById('smsinput').addEventListener("keyup", (event) => {


                if (event.keyCode === 13) {
                    event.preventDefault();
                    
                    document.getElementById("button-addon2").click();
                }
                // if (event.keyCode === 17) {
                //     event.preventDefault();
                //     document.getElementById("status").click();
                // }
            });
            
            
            searchFunc = () => {
                
                if (document.getElementById('smsSearch') == ''){
                    for (let i = 0 ; i < document.getElementById('sms').getElementsByTagName('h5').length; i+=1) {
                        document.getElementById('sms').getElementsByTagName('div')[i].style.display = 'flex'

                }
                } else {
                    for (let i = 0 ; i < document.getElementById('sms').getElementsByTagName('h5').length; i+=1) {
                        if (!document.getElementById('sms').getElementsByTagName('h5')[i].innerText.includes(document.getElementById('smsSearch').value)){
                            document.getElementById('sms').getElementsByTagName('div')[i].style.display = 'none'
                        } else {
                            document.getElementById('sms').getElementsByTagName('div')[i].style.display = 'flex'
                        }
                    }
                }
            }


            editeditedit = (edit, id) => {
                if (document.getElementById(edit).style.display != 'none') {
                    if (document.getElementById(edit).value == '') return document.getElementById(edit).style.display = 'none'
                    return document.getElementById(`edddddddd${id}`).submit()

                } 
                
                document.getElementById(edit).style.display = 'block'
                document.getElementById(edit).focus()
                document.getElementById(edit).addEventListener("keyup", (event) => {


                if (event.keyCode === 13) {
                    event.preventDefault();
                    
                    document.getElementById(`edddddddd${id}`).submit();
                }
                });

            }

            document.getElementById('inputButton').onclick = () => {
                if (document.getElementById('smsSearch').style.display == 'none') {
                    document.getElementById('smsSearch').style.display = 'inline'
                    return document.getElementById('smsSearch').focus()
                }
                document.getElementById('smsSearch').style.display = 'none'
            }

            document.getElementById('smsSearch').oninput = searchFunc

        //     document.getElementById('status').onclick = () => {
        //         // userStatus = prompt()
        //         userStatus == 'me' ? (userStatus = 'bot'):(userStatus = 'me')


        //         // document.getElementById("status").setAttribute("name",userStatus)
        //         document.getElementById('status').innerHTML = `your status ${userStatus}`
        //         // alert(userStatus)
        // }

            document.getElementById('button-addon2').onclick = () => {
                if (document.getElementById('smsinput').value == '' ) return undefined
                // alert (`status ${userStatus} sms ${document.getElementById('smsinput').value}`)
            //     if (userStatus == 'me'){
            //         document.getElementById('sms').innerHTML += `<div id= "me" class="justify-content-end d-flex p-2 px-md-4 mb-3 border-bottom shadow-sm"><h5 class="p-2 text-dark">${document.getElementById('smsinput').value}</h5></div>`
            //     } else {
            //         document.getElementById('sms').innerHTML += `<div id= "bot" class=" d-flex p-2 px-md-4 mb-3 border-bottom shadow-sm"><h5 class="p-2 text-dark">${document.getElementById('smsinput').value}</h5></div>`

            //     }
            //     document.getElementById('smsinput').value = ''
            //     document.getElementById('smsinput').focus()
            }
            
        })




    </script>
    <!-- <script src="./index.js"></script> -->
</body>
</html>