{% extends 'base.html' %}




{% block body %} 


                <!-- <div id = 'bot' class="d-flex p-2 px-md-4 mb-3 border-bottom shadow-sm">
                    <h5 class="p-2 text-dark">hello!!</h5>
                </div>


                

            
                <div id= 'me' class="justify-content-end d-flex p-2 px-md-4 mb-3 border-bottom shadow-sm">
                    <h5 class="p-2 text-dark">hi)</h5>
                </div> -->
                

                {% for j,sm in sms.items() %}

                    

                    {% if sm.username == mama %}
                   
                        <div id = 'me' class="p-2 px-md-4 mb-3 border-bottom shadow-sm" style="border-bottom-right-radius: 5px ; display: flex;">
                        <h5 style="text-align: right;" class="p-2 text-dark"> {{ sm.content }} <small><small>{{ sm.username }}</small><form id = 'deleteFOrm{{j}}' action="/delete" method="GET" style="display: inline; float: right; padding-left: 10px;"><input type="text" style="display:none" value="{{j}}" name = 'deleteFOrm{{j}}'><small><a style="text-decoration: none;" href="#" onclick="document.getElementById('deleteFOrm{{j}}').submit();">❌</a></small></form><br><font size = '1px'> {{ sm.date_created }}</font></small></h5>
                        </div>
                        
                    {% else %}
                    
                        
                        <div id = 'bot' class="p-2 px-md-4 mb-3 border-bottom shadow-sm" style="border-bottom-left-radius: 5px ;display: flex;">
                        <h5 class="p-2 text-dark"><small><small>{{ sm.username }}</small></small> {{ sm.content }} <br><font size = '1px'> {{ sm.date_created }}</font></h5>
                        </div>

                    {% endif %}
                    
                {% endfor %}


              
                        
                
                
                    
                
                

{% endblock %}

{% block usernames %} 
        {% for i in suzers.values() %}
        {% if i == mama %}
        <div id = 'me' class="d-flex p-2 px-md-4 mb-3 border-bottom shadow-sm" style="background-color: #a8dadc;">
            <h5 class="p-2 text-dark">{{ i }}  <small><span style="color: teal;">you</span></small></h5>
        </div>
        {% else %}
        <div id = 'bot' class="d-flex p-2 px-md-4 mb-3 border-bottom shadow-sm" style="background-color: #73a7a8;">
        <h5 class="p-2 text-dark">{{ i }}  </h5>
        </div>
        {% endif %}
        {% endfor %}

{% endblock %}
                        